@import '../../styles/shared-interfaces.scss';

.create-node {
    @extend .with-border;
    width: fit-content;
    height: $node-height;
    padding: 5px;
    display: flex;
    align-items: center;

    input {
        margin-left: 5px;
        height: 22.5px;
        border: 1px solid black;

        &:focus {
            border: $color-orange solid 1px;
        }
    }

    button {
        border-radius: 5px;

        &.create {
            background: $color-black;
        }
        
        &.cancel {
            background: $color-white;
        }
    }
}