@import '../../styles/shared-interfaces.scss';

.node {
    display: flex;
    align-items: center;
    height: $node-height;
    border: transparent solid 1px;
    width: fit-content;
    padding-right: 10px;

    &.active {
        @extend .with-border;
    }

    .node-icon {
        margin: 0 5px;
    }

    .name {
        border: transparent solid 1px;
    }

    button {
        border-radius: 50%;
        background: $color-black;
    }
}

.node-child {
    display: flex;
    
   
}