@import '../styles/shared-interfaces.scss';

.main-container {
    background: $color-white;
    width: 700px;
    height: auto;
    border: $color-grey solid 1px;
    margin: auto;
    
    h1 {
        background: $color-black;
        color: $color-white;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        padding: 20px 0;
    }

    .content {
        padding: 15px;

        button {
            background: $color-black;
            color: $color-white;
            border: 0;
            border-radius: 5px;
            padding: 10px 15px;
            margin-bottom: 20px;
        }
    }
}