<div class="main-container">
    <h1>Folder Structure</h1>
    <section class="content">
      <button type="button" name="add folder to root" (click)="addFolderToRoot()">Add folder to root</button>
      <ng-container *ngIf="baseNodes$ | async as baseNodes">
        <app-node  *ngFor="let node of baseNodes; trackBy:nodeIdentity" [nodeModel]="node"></app-node>
      </ng-container>
      <app-create-node *ngIf="isCreateNodeShown" (cancelNodeCreation)="cancelNodeCreation()"></app-create-node>
    </section>
</div>